.totalMoviesCount {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.number {
    font-size: 14px;
    min-width: 10px;
}
.posterImg {
    height: 70px;
}
.moviesItem {
    min-height: 90px;
}
.moviesItemTitle {
    max-width: 350px;
}
.voteAverage {
    min-width: 20px;
}