.totalMoviesCount {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.number {
    font-size: 14px;
    min-width: 10px;
}
.posterImg {
    height: 70px;
}
.moviesItem {
    color: #495057;
    min-height: 90px;
    text-decoration: none !important;
    transition: all 0.2s;
}
.moviesItem:hover {
    background-color: #c6d9ff;
    border-color: #007bff !important;
}
.moviesItemTitle {
    max-width: 350px;
}
.voteAverage {
    min-width: 20px;
}